SFTP_SERVERS=TEST,STAGING

SFTP_TEST_PROTOCOL=sftp
SFTP_TEST_HOST=test-sftp.example.com
SFTP_TEST_PORT=22
SFTP_TEST_USERNAME=test-user
SFTP_TEST_PASSWORD=
SFTP_TEST_PRIVATE_KEY_PATH=C:/Users/me/.ssh/id_ed25519_test
SFTP_TEST_PRIVATE_KEY_PASSPHRASE=
SFTP_TEST_USE_SSH_AGENT=false
SFTP_TEST_KNOWN_HOSTS_PATH=C:/Users/me/.ssh/known_hosts
SFTP_TEST_CONNECTION_TIMEOUT=10
SFTP_TEST_AUTHENTICATION_TIMEOUT=10
SFTP_TEST_OPERATION_TIMEOUT=30
SFTP_TEST_REMOTE_PATH=.

SFTP_STAGING_PROTOCOL=sftp
SFTP_STAGING_HOST=staging-sftp.example.com
SFTP_STAGING_PORT=22
SFTP_STAGING_USERNAME=staging-user
SFTP_STAGING_PASSWORD=
SFTP_STAGING_PRIVATE_KEY_PATH=C:/Users/me/.ssh/id_ed25519_staging
SFTP_STAGING_PRIVATE_KEY_PASSPHRASE=
SFTP_STAGING_USE_SSH_AGENT=false
SFTP_STAGING_KNOWN_HOSTS_PATH=C:/Users/me/.ssh/known_hosts
SFTP_STAGING_CONNECTION_TIMEOUT=10
SFTP_STAGING_AUTHENTICATION_TIMEOUT=10
SFTP_STAGING_OPERATION_TIMEOUT=30
SFTP_STAGING_REMOTE_PATH=.
